body{
    font-family: 'Open Sans', sans-serif;
}


.navbar {
    margin-bottom: 75%;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    font-weight: 400;
    margin-left: 15%;
    
}

header{
    text-align: center;
    background-image: url('../img/foto1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: auto;
  }

  #header_1{
     width: 187pt;
     height: 107pt;
  }

  .experiencia{
        color: #ffffff;
  }
  
  hr{
    height: 10px;
    width: 50%;
    background-color: black;
  }

footer {
    padding: 50px;
    top: 1407px;
    left: 627px;
    width: 53px;
    height: 100px;
  }


}



